:root{
  --primary-font-family:'Lato';
  --secondary-font-family:'Roboto';

  --title-font-size: 3.5rem;
  --body-font-size: 1.5rem;

  --brand-color: #f25c5c;
  --color: #5f5f5f;
  --bg-color:#fff;
}